div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fetchReqDiv {
  border: 1px solid gray;
  padding: 50px;
  border-radius: 10px;
}
.fetchReqDiv span {
  padding-bottom: 30px;
}
.fetchReqDiv input {
  padding: 10px 10px;
}
.fetchReqDiv button {
  padding: 5px 10px;
  margin-top: 20px;
}
